ODOOCLIUSER="odoo-user"
ODOOCLIPASS="odoo-password"

ODOOCLIHOST="host"
ODOOCLIDATABASE="database"


ODOOCLI_MAIL_SERVER="smtp.fake-gmail.com"
ODOOCLI_MAIL_PORT=587
ODOOCLI_MAIL_TLS=1
ODOOCLI_MAIL_USER="example-user@fake-gmail.com"
ODOOCLI_MAIL_PASSWORD="fakePaswworForFakeMailUser"
ODOOCLI_MAIL_FROM="example-user@fake-gmail.com"
ODOOCLI_MAIL_REPLY_TO="example-user@fake-gmail.com"
ODOOCLI_MAIL_CC="example-user@fake-gmail.com"

